@font-face {
  font-family: V0f2S5mU;
  src: url(../fonts/V0f2S5mU.ttf);
}

*
  font-family V0f2S5mU  !important


.current
  border-color: #ccc
  background-color: #D9D9D9

.appartament-types, appartament-terms
  color: #aaa
  font-size: 12px

.signup
  width: 90% !important
  margin: 10% auto !important
  text-align center !important


.signup .item-input-wrapper
  margin-left  10px

.modal
  background none

.modal > .list
  text-align center
  background #ffffff
  margin-top 6em

.modal .col
  width 48%
  margin-left 2%


.header-margin
  margin-top 50px

.opacity-grey-button
  opacity 0.5

.border-left
  border-left 1px solid #000

.font-grey
  color: #777777

.font-blue
  color: #0066bb

.font-small
  font-size 12px


.relative
  position relative

.clearWrap
  position absolute
  margin 0 !important
  padding 0
  padding-top: 20px !important


.left
  float left

//slider

.slidebox
  position relative
  height: 300px;
  min-height: 300px
  max-height: 300px
  min-width : 300px
  max-width: 300px
  margin 0
  padding 0



.slides
  position absolute
  z-index -1 !important

  min-height: 300px
  max-height: 300px
  left: 0
  transition: left .5s;


.slides > *
  float left
  max-width 300px
  min-width 300px
  max-height 100%
  min-height 100%t


.margin-left
  margin-left 10px

.verify-status
  min-width 20px

.nopadding
  margin 0
  padding 0

.nopadding > *
  border none
  width 100%
  height 100%



.margin-top-10
  margin-top 10px


.margin-bottom-20
  margin-bottom 20px

.circle
  border-radius 100px

.bordernone
  border none
  background none

.text-wrap-show
  max-height 30px
  margin-top 5px
  border-radius 5px

ion-content
  position relative

.noteCard
  position absolute
  min-width 100%
  max-width 100%
  min-height 100%
  max-height 100%
  z-index -1

.key
  z-index 0
  max-height 100%

.keyWrap
  margin 20% auto
  max-height 170px
  max-width 20%
  min-height 20%
  min-width 20%

.center-e > *
  margin 0 auto

.top-100
  margin-top 100px

.white
  background #ffffff

.signup .white
  border-radius 5px
  font-size 100%

.masterpass
  position relative
  overflow hidden

.keyboard
  display block
  margin 0 auto
  max-width 60%
  min-height 135px
  padding 0
  background none !important

.shadow
  box-shadow: inset 0 0 6px; !important

.red
  background #ff0000

.paper
 background-color #99abbf
 background-size contain
 background-repeat repeat-y

.menuBack
  background-color #8da5bf

.assertive
  background-color #eb443f
  border-radius 15px
.energized
  background-color #ffb62f
  border-radius 15px

.balanced
  background-color #1eba24
  border-radius 15px

.white-font
  color #ffffff


.keyimg
  max-height: 30%;
  max-width: 30%;
  margin: 0 auto